* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    float: right;
    margin-top: 24px;
    margin-right: 80px;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    float: left;
}

a {
    text-decoration: none;
    color: #3C3C3C;
    padding: 10px;
}

h1 {
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

h3,
p {
    color: #3E3E3E;
    font-family: 'Roboto';
    font-size: 16px;
    padding-bottom: 40px;
}

.highlight {
    color: #FF8367;
}

.half-width {
    width: 35%;
    padding-left: 5%;
    padding-top: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

.left-half {
    padding-top: 180px;
    padding-left: 135px;
}

.right-half {
    padding-top: 37px;
    padding-left: 135px;
}

.button {
    background-image: linear-gradient(45deg, #FF8063, #F46060);
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    height: 60px;
    width: 170px;
    font-family: 'Roboto';
    font-size: 16px;
}

section {
    height: 50px;
}