* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    float: right;
    margin-top: 24px;
    margin-right: 200px;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    float: left;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #3C3C3C;
    margin-right: 20px;
    margin-left: 20px;
}

.top-menu h1 {
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.top-menu h3 {
    color: #3E3E3E;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 5%;
}

.mid-menu p {
    color: #3E3E3E;
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: 5%;
}

.highlight {
    color: #FF8367;
}

section {
    height: 50px;
}

.half-width {
    width: 39%;
    float: left;
}

.half-width img {
    width: 100%;
    height: 465px;
}

.left-half {
    margin-top: 180px;
    margin-left: 135px;
}

.right-half {
    margin-top: 37px;
    margin-left: 135px;
}

.button {
    background-image: linear-gradient(45deg, #FF8063, #F46060);
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    height: 60px;
    width: 170px;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
}

.mid-menu {
    padding: 10px 15px;
}

.mid-menu img {
    width: 100%;
    margin-left: 70px;
}

.about {
    margin-top: 70px;
    margin-left: 150px;
    font-family: 'Roboto';
    text-align: justify;
}

.work-heading {
    margin: 100px 50px 30px 50px;
    text-align: center;
}

.work-space {
    width: 100%;
    height: 800px;
}

.work-area h3 {
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-weight: 700;
}

.work-area p {
    color: #6C6C6C;
    text-align: justify;
}

.work-area {
    width: 100%;
    float: left;
    background-color: rgb(243, 242, 242);
    height: 800px;
}

.work-area img {
    height: 214px;
    width: 344px;
    padding-bottom: 10px;
}

.latest-work {
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px dimgray;
    background-color: white;
    height: 50%;
    width: 25%;
    margin: 30px;
    padding: 5px;
}

#gym img {
    border-left: 1px solid;
    border-image: green;
    border-image-slice: 1;
    padding: 0;
}

.work-inquiry img {
    margin: 80px 100px 200px 100px;
    padding: 20px 80px 50px 80px;
    height: 200px;
    width: 930px;
    align-content: center;
}

.work-inquiry h3 {
    color: white;
    font-family: 'Roboto';
    font-size: 28px;
}

.inquiry-button {
    position: absolute;
    top: 1010px;
    left: 450px;
    height: 18px;
    width: 72px;
}

.inquiry {
    position: absolute;
    top: 2030px;
    left: 250px;
}